@import "tailwindcss";


/* === FUTURISTIC / CYBER === */
.font-orbitron {
  font-family: "Orbitron", sans-serif;
}

.font-oxanium {
  font-family: "Oxanium", sans-serif;
}

.font-rajdhani {
  font-family: "Rajdhani", sans-serif;
}

/* === CLEAN UI === */
.font-inter {
  font-family: "Inter", sans-serif;
}

.font-poppins {
  font-family: "Poppins", sans-serif;
}

.font-space {
  font-family: "Space Grotesk", sans-serif;
}

/* === CODE / TERMINAL === */
.font-jetbrains {
  font-family: "JetBrains Mono", monospace;
}

.font-sharetech {
  font-family: "Share Tech Mono", monospace;
}
